body {
    max-width: 768px;
    margin: 0 auto;
}
h1 {
    color: rgb(10, 228, 163);
    text-align: center;
}
nav {
    background: rgb(10, 228, 163);
    height: 50px;

    ul {
        display: flex;
    }
    li {
        list-style: none;
        padding: 13px;
        font-size: large;
        font-family: sans-serif;
        cursor: pointer;
        &:hover {
            background-color: lighten(rgb(10, 228, 163), 10);
        }
    }
    .atHere {
        background-color: rgb(163, 255, 228);
    }
}

.box {
    height: 200px;
    width: 540px;
    background: black;
    margin: 0 auto;
    border-radius: 8px;
    #clock{
        color: white;
        text-align: center;
        padding-top: 50px;
        font-size: 80px;
        font-family: sans-serif;
    }
    button {
        margin: 10px 95px;
        background-color: rgb(10, 228, 163);
        height: 35px;
        width: 70px;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
            background-color: lighten(rgb(10, 228, 163), 10);
        }
    }
}